.headcolor{
    background-color: black;
}
.headcolor{
    font-family:Nunito, sans-serif;
    font-size:1em;
    font-weight:700;
    line-height:1.5em;
    padding-left:3.12em;

}

.img{

  
  height: 40em;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}
.body{
    margin: 0;
}
.ak{
    
    font-family: sans-serif;
    font-weight:bold;
    font-size: 2em;
    

    
}
.ak:hover{
    color:#00d679;
}





.logo{
    height:2.5em;
    width: 4.625em;
}
ul.nav a:hover { color:#00d679!important; }

.car{
margin-top: 3em;
margin-left:1em;
margin-bottom: 2em;




}
.black{
    background-color: black;
}

.mycolor{
  background-color: rgb(36, 34, 34);
}



    
    

.bluring{
   
    opacity: 0;
    border-radius:1em;
    margin-left:1em;
    margin-top: 1em;
     height:20em;
     width:21em;
     
    
     

}
.bluring:hover{
    opacity:0.6;
   
    
}

    
 .div{
     
     margin-top:1em;
     height:22em;
     width:23em;
     background-color: black;
     border-radius: 1em;
     
    
 }  
 .div1{
    margin-top:1em;
   
    height:22em;
     width:23em;
    background-color:black;
    border-radius: 1em;
    
   
}  

.div2{
    margin-top:1em;
   
    height:22em;
    width:23em;
    border-radius: 1em;
    background-color: black;
   
   
}  

.icon{
   color: #00d679;
   position: absolute;
   top:2em;
   left:3.5em;
}
.icon:hover{
    color:white;
}

.inside{
    color: white;
    position: absolute;
    top:6.2em;
    left:5em;
    font-family: Arial, Helvetica, sans-serif;
 }

 .discription{
     position: absolute;
     top:12em;
     left:3em;
     font-family: Arial, Helvetica, sans-serif;
     margin-left:1em;
     margin-right:1em;
     color:white
    
 }
 
.icon2{
    color: #00d679;
  position: absolute;
  left: 3.7em;
  top: 2em;
   

}
.icon2:hover{
    color:white;
}
.inside2{
    color:white;
    position: absolute;
    top: 6.3em;
    left: 6em;
    font-family: Arial, Helvetica, sans-serif;
   
 }

 .discription2{
     position: absolute;
     top:11.9em;
     left:5em;
     font-family: Arial, Helvetica, sans-serif;
     color: white;
     margin-left:1em;
     margin-right:1em;
     
 }

 .icon3{
    color: #00d679;
   position: absolute;
   top: 2em;
   left: 3.9em;
}
.icon3:hover{
    color: white;
}
.inside3{
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:20px;
    top:6.3em;
    left:4em;
    
    
    color:white
 }

 .discription3{
     position: absolute;
     top:11.9em;
     left:3em;
     font-family: Arial, Helvetica, sans-serif;
     color:white;
     margin-left:1em;
     margin-right:1em;
     text-align: center;
     
 }

 .divis{

   position: relative;
  height:100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 
 
  

      
  .button {
    border-radius: 4px;
    
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-weight: bolder;
    font-size: 1em;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    
  }

  .side{
      float: left;
  }

  .cad{
      height:24em;
      width: 20em;
      margin-top: 5em;
      border-radius: 1em;
     
  }

  .cardimg{
      height: 13em;
      border-radius: .5em;
  }

  .cad::before { 
    content: ""; 
    position: absolute; 
    top: -2px; 
    left: -2px; 
    width: 0; 
    height: 0; 
    background: transparent; 
    border: 2px solid transparent; 
    border-radius: 1em;
} 

.cad:hover::before { 
    animation: animate 1s linear forwards; 
} 

@keyframes animate { 
    0% { 
        width: 0; 
        height: 0; 
        border-top-color: rgb(27, 207, 57); 
        border-right-color: transparent; 
        border-bottom-color: transparent; 
        border-left-color: transparent; 
        border-radius: 1em;
    } 

    50% { 
        width: 100%; 
        height: 0; 
        border-top-color: rgb(17, 209, 65); 
        border-right-color: rgb(15, 231, 51); 
        border-bottom-color: transparent; 
        border-left-color: transparent; 
        border-radius: 1em;
    } 

    100% { 
        width: 100%; 
        height: 100%; 
        border-top-color: rgb(25, 216, 25); 
        border-right-color: rgb(28, 214, 68); 
        border-bottom-color: transparent; 
        border-left-color: transparent;
        border-radius: 1em; 
    } 
} 

.cad::after { 
    content: ""; 
    position: absolute; 
    top: -2px; 
    left: -2px; 
    width: 0; 
    height: 0; 
    background: transparent; 
    border: .2em solid transparent; 
    border-radius: 1em;
} 

.cad:hover::after { 
    animation: animates 1s linear forwards; 
    border-radius: 1em;
} 

@keyframes animates { 
    0% { 
        width: 0; 
        height: 0; 
        border-top-color: transparent; 
        border-right-color: transparent; 
        border-bottom-color: transparent; 
        border-left-color: rgb(26, 212, 51); 
        border-radius: 1em;
    } 

    50% { 
        width: 0; 
        height: 100%; 
        border-top-color: transparent; 
        border-right-color: transparent; 
        border-bottom-color: rgb(23, 218, 33); 
        border-left-color: rgb(40, 218, 24); 
        border-radius: 1em;
    } 

    100% { 
        width: 100%; 
        height: 100%; 
        border-top-color: transparent; 
        border-right-color: transparent; 
        border-bottom-color: rgb(46, 218, 23); 
        border-left-color: rgb(64, 221, 33); 
        border-radius: 1em;
    } 
} 

.avatar {
   
    width:22em;
    height:25em;
    border-radius: 2em;
    
   
  }
  .font{
      font-family: 'Times New Roman', Times, serif;
  }
  



.column{
    margin-top: 50em;

}


.love3{
    height: 26em;
    width: 24em;
    border-color: #030303;
    border-style:solid;
    
    border-width: .5em;

}  
.love1{
    height:26em;
    width:48em;
    border-color: hsl(0, 8%, 5%);
    border-style:solid;
    
    border-width: .5em;


}
.love2{
    height:26em;
    width:30em ;
    border-color: #111111;
    border-style: solid;
   
    border-width: .5em;


}
.love4{
    height: 28em;
    width: 75em;
    border-color: hsl(0, 0%, 3%);
    border-style:solid;
    border-width: .5em;


}
.love5{
    height:26em;
    width:36em ;
    border-color: hsl(0, 5%, 4%);
    border-style:solid;
    border-width: .5em;

}

.love6{
    height:26em;
    width:48em ;
    border-color: hsl(0, 0%, 4%);
    border-style: solid;
    border-width: .5em;

}


.love7{
    height:26em;
    width:40em ;
    border-color: hsl(0, 0%, 6%);
    border-style: solid;
    
    border-width: .5em;
}

.love8{
    height:26em;
    width:51em ;
    border-color: #030303;
    border-style: solid;
    border-width: .5em; 

}
 .black{
     background-color: #0a0a0a;
     
 }
 
 .intrest{
    position: relative;
     height: 16em;
    width: 20em;
    border-radius: 1em;
    background-color: rgb(36, 34, 34);
    color: #00d679;
    margin-top: 2em;
    margin-left: .5em;
    padding-top: .5em;
    font-family: Arial, Helvetica, sans-serif;


 }

 
  
  
  
  .overlay1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
   background-color: #00d679;/* Black see-through */
  border-radius: 1em;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  
  .intrest:hover .overlay1 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .text3 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }












 
 .akhil{
     height: 10em;
     width: 12em;
     border-radius: 50%;
     margin-left: 1em;
 }
 .education{
    
     border-style: outset;
     border-color: grey;
     border-radius: 1em;
     margin-top: 3em;
 }
 .hobie{
     position: relative;
     height: 15em;
     width:18em;
     border-radius: 1em;
     border-style:unset;
     

 }


 .overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);/* Black see-through */
  border-radius: 1em;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  
  .hobie:hover .overlay2 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
 




 .drawing{
     height: 15em;
     width:18em ;
     border-radius: 1em;
 }
 
 .myhobyposition{
     position: absolute;
     bottom: .5em;
     left: 4em;
     color: white;
     
 }

 .myhobyposition1{
    position: absolute;
    bottom: .5em;
    left: 2em;
    color: white;
    
}

.key{
  height: 20em;
  width: 100%;
}
  


  



 



  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:.5em;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 50px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 5em;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin:5% auto 20% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }


  